.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.service-container a {
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.service-image {
    width: 150px;  /* Adjust width as needed */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 5px;
    transition: transform 0.2s;
}

.service-image:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}
